@if (productoHero(); as producto) {
  <app-hero-banner [producto]="producto"></app-hero-banner>
}

<!-- TOP CATEGORIES -->
<section class="section">
  <div class="section-header">
    <h2>Top Categories</h2>
    <a class="link">View Catalog →</a>
  </div>

  <div class="categories">
    @for (categoria of categoryService.categorias(); track categoria.id) {
      <app-categoria-card-fondo-completo [category]="categoria">
      </app-categoria-card-fondo-completo>
    }
  </div>
</section>

<!-- FEATURED PRODUCTS -->

<!-- FEATURED PRODUCTS GRID -->
<section class="section">
  <div class="section-header">
    <h2>Top Productos</h2>
    <p>Explora nuestra selección de hardware premium</p>
  </div>

<div class="products-grid">
  @for (item of productosGrid(); track item.id) {
    <app-card-producto-carrito [producto]="item"></app-card-producto-carrito>
  }
</div>
</section>



<!-- LATEST TECH NEWS -->
<section class="section">
  <h2>Latest Tech News</h2>

  <div class="news">
    <div class="news-card">Quantum Computing in 2026</div>
    <div class="news-card">Next Gen GPU Trends</div>
    <div class="news-card">Work From Home Optimization</div>
  </div>
</section>
``
