.footer {
  background: #121212;
  color: #ccc;
  text-align: center;
  padding: 15px 16px;
}

.socials {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.social-link i {
  font-size: 24px; /* O el tamaño que prefieras */
  color: white;    /* O el color que definió tu compañera */
  transition: transform 0.2s;
}

.social-link i:hover {
  transform: scale(1.1); /* Un pequeño efecto al pasar el mouse */
  color: #7aa2ff;;        /* Por ejemplo, verde para whatsapp */
}
