/* You can add global styles to this file, and also import other style files */

html,
body {
	min-height: 100%;
}

body {
	margin: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.mat-icon,
.mat-icon.mat-ligature-font,
.material-icons,
.material-symbols-outlined {
	font-family: 'Material Symbols Outlined', 'Material Icons', sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	width: 1em;
	height: 1em;
	min-width: 1em;
	flex-shrink: 0;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	font-feature-settings: 'liga';
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
	overflow: hidden;
}
